.filebuttons{
    display: flex;
    gap:1rem;
}
.filebuttons>input{
    border: none;
    color: white;
    font-size: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    background: #040458;
}