.landingpage_header{
    display: flex;
     flex-direction: column;
     gap:2rem;
     padding-left: 9rem;
     padding-right:9rem;
     align-items: center;
}
.header_content{
    border-radius: 5px;;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display:flex;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0.8);
    align-items: center;
    justify-content:space-around;
    padding:1rem;
    gap:5rem
    /* min-width:750px ; */
}
.header_left{
    display: flex;
    gap:2rem;
    justify-content:space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
} 
.header_logo{
    object-fit: cover;
    height: 2rem;
    overflow: hidden;
}
.header_left>div:nth-of-type(1){
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .header_left>div:nth-of-type(2){
     padding: 2px;
     margin-top: 0.5rem;
}
.header_left>div:nth-of-type(2)>ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap:1rem;
  font-size: 18px;

}
.liststyles>ul {
    /* Remove the underline from links */
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 18px;
  }
  .liststyles>ul li a {
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
  }
  .liststyles>ul li a.active {
    color: blue; 
  
  }

/* headerright */
.header_right{
    padding: 1px;
    display: flex;
    gap:1rem;
}
.header_right>a>span{
  padding:15px;
  font-weight: bold;
  font-size: 20px;
  
}
.header_right>a>button{
    background-color: #1F12FD;
    border-radius: 4px;
    border-style: none;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    color:white;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}

@media screen and (max-width:768px){
    .liststyles{
      display: none;
    }
}
