
.sidebar{
    flex:0.2;
    background-color:white;
    display: flex;
    flex-direction: column;
    /* align-items:center; */

}
.dashboarddata{
    display: flex;
    align-items: center;
     padding: 1rem;
     padding-left: 1.5rem;
     gap:2rem;
     justify-content: flex-start;
}
