@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.App{
    background-color: #F7F7FA;
    text-align: center;
    
}
form>div>button{
    background: blue;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    border-style: none;
     outline: none;
   color: white;
   font-size: 20px;
   padding-left: 1rem;
   padding-right: 2rem;
}
