body {
background: #F7F7FA;
}

/*landingpage*/
.landing .header{
  background: white;
  margin-left: 60px;
  width: 1200px;
}

.landing .header .pricing{
  display: flex;
  gap: 17px;
  margin-left: 280px;
  margin-top: -80px;
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}

.landing .header .rightcorner{
  display: flex;
  justify-content: flex-end;
  margin-right: 130px;
  margin-top: -75px;
  gap: 10px;
  
}

.landing .header .rightcorner button{
background: #1F12FD;
border-radius: 4px;
width: 172px;
height: 42px;
color: white;
}

.landing .unlock h1{
width: 500px;
margin-top: 80px;
height: 228px;
flex-shrink: 0;
color: var(--gray-900, #18181B);
font-family: Plus Jakarta Sans;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 66px; 
margin-left: 80px;
}
.landing .unlock img{
width: 68.934px;
height: 61.034px;
flex-shrink: 0;
border-radius: 68.934px;
border: 2px solid var(--base-white, #FFF);
}
.landing .unlock .image1{
  margin-left: 100px;
}

.landing .unlock p{
  width: 427.91px;
height: 64.489px;
flex-shrink: 0;
  margin-top: -65px;
  margin-left: 340px;
  color: var(--gray-900, #18181B);
/* PJ/Regular/18px */
font-family: Plus Jakarta Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; 

}

.landing .unlock .buttons{
display: flex;
padding: 16px;
gap: 10px;
flex-shrink: 0;
margin-left: 80px;
}

.landing .unlock .buttons button{
  width: 232.814px;
  height: 64.489px;
  border-radius: 10px;
  background: var(--gray-900, #18181B);
  color: white;
}

.landing .bars img{
  margin-top: -470px;
  margin-left: 780px;
}


/*billing*/
.billing .header{
  border: none;
  position: sticky;
  background: white;
  margin-left: 60px;
  width: 1200px;
}

.billing .header .pricing{
  text-align: center;
  display: flex;
  gap: 6em;
  justify-content: flex-end;
  margin-top: -80px;
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
 
}
.billing .header .pricing P{
  margin-right: 10px;
}

.billing .header .pricing P:hover{
  background: #06F;
  width: 10%;
  border-radius: 20px;
}

.billing .header .rightcorner{
  display: flex;
  justify-content: flex-end;
  margin-right: 130px;
  margin-top: -75px;
  gap: 10px;
  
}

.billing .header .rightcorner button{
background: #1F12FD;
border-radius: 4px;
width: 172px;
height: 42px;
color: white;
}

.billing .vector{
  background: white;
  margin-top: 15px;
}

.billing .vector h1{
  text-align: center;
  margin-top: 10px;
  color: #000;
}

.billing .vector h3{
  text-align: center;
  margin-top: 10px;
  color: #000;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 180%;
}

.billing .vector .billbutton{
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.billing .vector .billbutton .month{
  background: #06F;
  border-radius: 10px;
  border: none;
  height: 30px;
  color: white;
  width: 80px;
}

.billing .vector .billbutton .anual{
  background: #F7F7FA;
  border-radius: 10px;
  height: 30px;
  margin-left: -20px;
  width: 80px;
  border: none;
  color: gray;
}

.billing .vector .options{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 10px;
}

.billing .vector .options div{
  position: sticky;
  box-shadow: #1F12FD;
  background: #F7F7FA;
  border: white;
  height: 300px;
  text-align: center;
  width: 200px;
  border-radius: 10px;
}

.billing .vector .options .content .content1 li{
  text-align: left;
  margin-left: 15px;
}

.billing .vector .options .content .content1 button{
  border: none;
  border-radius: 15px;
  color: white;
  background: blue;
  margin-top: 65px;
  height: 4em;
  width: 10em;
}

@media (max-width:500px){
  .billing .vector{
    background: white;
    margin: auto;
    padding: auto;
    width: 55em;
  }
  
  .billing .header{
    background: white;
    margin: auto;
    width: 55em;
  }
}

/*LOGIN PAGE*/

.login {
  background: white;
  width: 50em;
  height: 500px;
  margin: auto;
  margin-top: 70px;
  border-radius: 15px;
}
.login .forms form{
  position: sticky;
}

.login .forms h1{
display: flex;
align-items: flex-end;
margin-left: 45%;
margin-top: -57%;
}

.login .forms p{
  margin-left: 46%;
  margin-top: -20px;
  color: gray;
  }

  .login .forms .signin{
    margin-left: 46%;
    margin-top: 18px;
  }

  .login .forms form{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 23.5em;
    width: 50%;
    color: gray;
  }

  .login .forms form input{
    height: 3em;
    border: solid #F7F7FA;
  }

  .login .forms form .checkbox{
    display: flex;
  }

  .login .forms form .remember{
    margin-top: 13px;
    margin-left: 3px;
    color: gray;
    flex-direction: row;
  }

  .login .forms form p{
    margin-right: 100px;
    margin-top: 15px;

  }

  .login .forms form button{
    margin-top: -18px;
    height: 3em;
    background: #06F;
    border: none;
    border-radius: 5px;
    color: white;
  }

/*Creating account*/
.divform{
  background: white;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  width: 70%;
  height: 30em;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 10px;

}
form .fields{
  display: flex;
  gap: 0.5rem;
  margin-left: 10px;
}

form .fields input{
  height: 35px;
  width: 30%;
  border: 2px solid #F7F7FA;
  
}

form .fields1{
  display: flex;
  gap: 0.5rem;
  margin-left: 10px;
}

form .fields1 input{
  height: 35px;
  width: 80%;
  border: 2px solid #F7F7FA;
  
}
form .fields2{
  display: flex;
  gap: 0.5rem;
  margin-left: 10px;
}

form .fields2 input{
  height: 35px;
  width: 12.5%;
  border: 2px solid #F7F7FA;
  
}

form button{
  background: #1F12FD;
  border: none;
  height: 50px;
  border-radius: 15px;
  color: white;
  width: 60%;
  margin: auto;
}




































/*@media (max-width:500px) {
  .landing .header .pricing{
    gap: 5px;
    margin-left: 180px;
    display: block;
  }
  .landing .header .rightcorner{
    display: block;
    margin-left: 280px;
    margin-top: -214px;
    
  }
  .landing .header .rightcorner button{

    width: 100px;
  }
}
*/


